*.iml
.gradle
/local.properties
/captures
*.ipr
*.iws
.idea/
.classpath
.project
bin/
gen/
out/
target/
local.properties
classes/
tmp/
project.properties
github.properties
.DS_Store
.settings
build/
jacoco.exec
opensrp-chw/ba/
opensrp-chw/chad/
opensrp-chw/drc/
opensrp-chw/guinea/
opensrp-chw/togo/
opensrp-chw/liberia/
opensrp-chw/lmh/
*google-services.json