<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.smartregister.chw">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".application.ChwApplication"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/ChwTheme"
        tools:replace="android:theme">

        <activity
            android:name=".activity.FamilyPlanningMemberProfileActivity"
            android:label="@string/family_planning"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.AncUpcomingServicesActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.AncMedicalHistoryActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.AncHomeVisitActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.AncRegisterActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.AncMemberProfileActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.PncUpcomingServicesActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.PncMedicalHistoryActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.PncHomeVisitActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.PncRegisterActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.PncMemberProfileActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.MalariaRegisterActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.FpRegisterActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity android:name=".core.activity.ChwP2pModeSelectActivity" />
        <activity
            android:name=".activity.JobAidsActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.FamilyRemoveMemberActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.FamilyProfileMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.FamilyRegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.FamilyProfileActivity"
            android:label="@string/title_family_detail"
            android:parentActivityName=".activity.FamilyRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ChwTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.smartregister.chw.activity.FamilyRegisterActivity" />
        </activity>
        <activity
            android:name=".activity.FamilyOtherMemberProfileActivity"
            android:label="@string/title_family_detail"
            android:parentActivityName=".activity.FamilyRegisterActivity"
            android:theme="@style/FamilyTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.smartregister.chw.activity.FamilyProfileActivity" />
        </activity>
        <activity
            android:name="org.smartregister.family.activity.FamilyWizardFormActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FamilyTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.ChildRegisterActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.UpcomingServicesActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.ChildHomeVisitActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.ChildProfileActivity"
            android:launchMode="singleTop"
            android:label="@string/child_details"
            android:theme="@style/ChwTheme.NoActionBar">
            <intent-filter>
                <action android:name="org.smartregister.action.THINKMD_ASSESSMENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="smartregister.org"
                    android:path="/" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ChildMedicalHistoryActivity"
            android:label="@string/medical_history"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".core.activity.CoreChildMedicalHistoryActivity"
            android:label="@string/medical_history"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".core.activity.CoreUpcomingServicesActivity"
            android:label="@string/upcoming_services"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".core.activity.CoreFpUpcomingServicesActivity"
            android:label="@string/upcoming_services"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.IndividualProfileRemoveActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.ClientReferralActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:roundIcon="@drawable/ic_launcher_round"
            android:screenOrientation="portrait"
            android:theme="@style/ChwTheme.Login"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AboveFiveChildProfileActivity"
            android:label="@string/child_details"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.MalariaProfileActivity"
            android:label="@string/malaria"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".core.activity.CoreAncRegisterActivity"
            android:label="@string/anc_register"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.MalariaUpcomingServicesActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.ReferralRegisterActivity"
            android:label="@string/anc_register"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.ReferralRegistrationActivity"
            android:label="@string/issue_referral"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.FpFollowUpVisitActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.SickFormMedicalHistory"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".core.activity.HIA2ReportsActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".core.activity.ReportSummaryActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".core.activity.ServiceJsonFormActivity"
            android:label="@string/stock_usage_report"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".core.activity.CoreStockInventoryReportActivity"
            android:label="@string/stock_usage_report"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".core.activity.CoreStockInventoryItemDetailsReportActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.ReportsActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.FragmentBaseActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.PinLoginActivity"
            android:theme="@style/ChwTheme.Login" />
        <activity
            android:name=".activity.AllClientsRegisterActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".core.activity.DisplayCarePlanActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.opd.activity.BaseOpdFormActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.SickChildJsonFormActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.UpdatesRegisterActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.UpdateRegisterDetailsActivity"
            android:theme="@style/ChwTheme.NoActionBar" />
        <activity
            android:name=".activity.AllClientsMemberProfileActivity"
            android:label="@string/title_family_detail"
            android:parentActivityName=".activity.AllClientsRegisterActivity"
            android:theme="@style/FamilyTheme.NoActionBar" />

        <activity
            android:name=".activity.AncMemberMapActivity"
            android:theme="@style/ChwTheme.NoActionBar" />

        <activity
            android:name=".core.activity.CoreCommunityRespondersRegisterActivity"
            android:theme="@style/ChwTheme.NoActionBar" />

        <activity android:name=".activity.GuideBooksTutorialsActivity"
            android:theme="@style/ChwTheme.NoActionBar"/>

        <activity android:name=".activity.GuideBooksCounselingActivity"
            android:theme="@style/ChwTheme.NoActionBar"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3f94f9c3caeff331b3a2bd8c2182b663ad6a955a" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/captured_images_path" />
        </provider>

        <service android:name="org.smartregister.immunization.service.intent.VaccineIntentService" />
        <service android:name="org.smartregister.immunization.service.intent.RecurringIntentService" />
        <service android:name="org.smartregister.sync.intent.PullUniqueIdsIntentService" />
        <service android:name="org.smartregister.sync.intent.ExtendedSyncIntentService" />
        <service android:name="org.smartregister.sync.intent.SyncLocationsByLevelAndTagsIntentService" />
        <service android:name="org.smartregister.sync.intent.DocumentConfigurationIntentService" />
        <service android:name="org.smartregister.sync.intent.ValidateIntentService" />
        <service android:name="org.smartregister.service.ImageUploadSyncService" />
        <service android:name=".anc.intent.HomeVisitIntentService" />
        <service android:name=".sync.intent.ChwSyncTaskIntentService" />
        <service android:name="org.smartregister.sync.intent.PlanIntentService" />
        <service android:name=".intent.ChwPncCloseDateIntent" />
        <service android:name="org.smartregister.reporting.service.IndicatorGeneratorIntentService" />
        <service android:name=".service.SchedulesIntentService" />
        <service android:name=".sync.ChwSyncIntentService" />
        <service android:name=".core.service.StockUsageReportService" />
        <service android:name="org.smartregister.growthmonitoring.service.intent.WeightForHeightIntentService" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>