<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.smartgresiter.wcaro">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".application.WcaroApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/WcaroTheme.NoActionBar"
        tools:replace="android:theme">
        <activity
            android:name=".activity.FamilyRegisterActivity"
            android:label="@string/app_name"
            android:theme="@style/WcaroTheme.NoActionBar" />
        <activity
            android:name=".activity.FamilyProfileActivity"
            android:label="@string/title_family_detail"
            android:parentActivityName=".activity.FamilyRegisterActivity"
            android:theme="@style/WcaroTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.smartgresiter.wcaro.activity.FamilyRegisterActivity" />
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/WcaroTheme.Login"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ChildRegisterActivity"
            android:theme="@style/WcaroTheme.NoActionBar" />
        <activity android:name=".activity.ChildProfileActivity"
            android:label="@string/child_details"
            android:theme="@style/WcaroTheme.NoActionBar"/>
    </application>

</manifest>